.page{
    width: 900px;
    margin: 0 auto;
    border: 1px solid red;
}

.menu {
    height: 100px;
    background-color: #B2D6FF;    /* Medium blue */
  }
  
  .sidebar {
    height: 30px;
    width: 20px;
    background-color: #e07275;    /* Red */ 
    flex-direction: row ;
    transition: float 10s ease-in-out;
  }

  .sidebar:hover{
    font-size: 48px;
    flex: flex-end;
  }
  
  .content {
    height: 500px;
    width: 65px;
    background-color: #F5CF8E;    /* Yellow */
  }
  
  .footer {
    height: 200px;
    background-color: #D6E9FE;    /* Light blue */
  }